<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OETS.Journal.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <nlog autoReload="true">
    <variable name="logDirectory" value="${basedir}\logs"/>
    <variable name="normalAuthServerLog" value="IcNews.Server-${level}.log"/>
    <variable name="archiveAuthServerLog" value="IcNews.Server-${level}-{#####}.log"/>
    <targets>
      <target name="console" type="AsyncWrapper">
        <target type="ColoredConsole" layout="(${processtime}) [${level}] ${message} ${exception:format=tostring}"/>
      </target>
      <target name="file" type="AsyncWrapper">
        <target type="File" fileName="${logDirectory}\${normalAuthServerLog}" encoding="utf-8" archiveEvery="ArchiveEveryMode.Day" archiveFileName="${logDirectory}\${archiveAuthServerLog}" archiveNumbering="ArchiveNumberingMode.Rolling" maxArchiveFiles="10000" layout="(${longdate}) [${logger}] [${level}] ${message} ${exception:format=tostring}"/>
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="console,file"/>
    </rules>
  </nlog>
  <applicationSettings>
    <OETS.Journal.Server.Properties.Settings>
      <setting name="maxConnections" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ServerIP" serializeAs="String">
        <value>172.26.2.168</value>
      </setting>
      <setting name="ServerPORT" serializeAs="String">
        <value>65534</value>
      </setting>
    </OETS.Journal.Server.Properties.Settings>
  </applicationSettings>
</configuration>